html {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #d4d4d4;

}

*:focus {
    outline: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg-color);
    min-height: 100vh;
    background-image: url(cover.jpg);
    background-size: cover;
}

.container {
    max-width: 600px;
    min-width: 370px;
    margin: auto;
    padding: 30px;
}

.clock {
    background: #000b2e78;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    /* box-shadow: 2px 2px 26px #080f2eaa; */
    backdrop-filter: blur(4px)
}

.title {
    padding: 15px;
    width: 100%;
    text-align: center;
}

.title h1 {
    font-size: 4rem;
    color: #ffff;
}

@media screen and (max-device-width: 480px) {
    .title h1 {
        font-size: 2rem;
        font-weight: 500;
    }

}

.clock .days {
    width: 25%;
    display: flex;
    padding: 15px;
    justify-content: flex-start;
}

.clock .tm {
    margin: auto;
}

.clock .days ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

}

.clock .days ul li {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    color: #ffffff92;
}

.active {
    background: #000b2e78;
    color: #ffffff !important;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}

.time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px auto;
    padding: 15px;
}

.time>div {
    margin: 0 10px;
    text-align: center;
    width: auto;
}



.time .hrs {
    font-size: 6rem;
    color: #ffffff;
    font-weight: 500;
}

.time .min {
    font-size: 2.7rem;

}

.time .sec {
    font-size: 2.5rem;
}

.time .dm {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.time .rm {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}


.time .dn {
    color: #f39624;
    font-size: 1.5rem !important;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 15px auto;
    padding: 15px;
}

.date span {
    margin: 0 5px;
    text-align: center;
}

.analog {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: auto;
    background: #000000;
    border-radius: 100%;
    border: 1px solid #00b3ffd6;

}


.analog::before {
    content: "";
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    border-radius: 100%;
    z-index: 999;
}

.analog .hour,
.analog .min,
.analog .sec {
    position: absolute;
}

.analog .hour .hr {
    width: 120px;
    height: 120px;
}

.analog .min .mn {
    width: 140px;
    height: 140px;
}

.analog .sec .sc {
    width: 180px;
    height: 180px;
}

.hr,
.mn,
.sc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 50px;
    background: #ff105e;
    border-radius: 4px 4px 0 0;
    top: 12px;
    z-index: 10;
}

.mn::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 60px;
    background: #ffffff;
    border-radius: 4px 4px 0 0;
    top: 15px;
    z-index: 11;
}

.sc::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 70px;
    background: #c0c0c0;
    border-radius: 4px 4px 0 0;
    top: 30px;
    z-index: 12;

}

.controls {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls button {
    border: none;
    padding: 10px 20px;
    width: 120px;
    margin: 10px;
    text-align: center;
    border-radius: 50px;
    background: #000b2e78;
    color: #ffffff;
    cursor: pointer;
    transition: 0.4s;
}

.controls button:hover {
    background: #000b2ebb
}

.controls button:active {
    background: #000b2ebb;
    scale: 110%;
}

@media screen and (max-device-width: 480px) {
    .time .hrs {
        font-size: 5rem;
    }

    .time .min {
        font-size: 1.5rem;
    }

    .time .sec {
        font-size: 1.5rem;
    }

    .clock {
        padding: 15px;
    }

    .clock .days {
        padding: 5px;
    }

    .clock .days ul {
        padding: 5px;
    }

}